<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <% include ../partials/script %>
  <script>
    jQuery(document).ready(function() {
      alert("TEST");
    });
  </script>
</body>
</html>
