<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">

<title><%= title %></title>

<meta name="description" content="<%=description %>" />
<meta name="keywords" content="던포" />
<meta property="og:title" content="던포"/>
<meta property="og:url" content=""/>
<meta property="og:image" content=""/>
<meta property="og:description" content="던포"/>

<link rel="canonical" href="">
<link rel="shortcut icon" href="">
<link href="/resource/css/my.css" rel="stylesheet" type="text/css">

<!-- Bootstrap2 core CSS -->
<link href="/resource/bootstrap2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/resource/bootstrap2/css/modern-business.css" rel="stylesheet">
